@model IEnumerable<LoginProjeto.Models.TipoProduto>

@{
    ViewData["Title"] = "Index";
}

<div class="info">
    <h1>Informe o tipo do produto</h1>
    <p>
        <a asp-action="Create">Cadastrar novo tipo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoProdutoDescricao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoProdutoDescricao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
